.home-background{
    background-image: url(https://www.teahub.io/photos/full/60-604322_travel-background-wallpaper-hd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 0;
    min-height: 70vh;
    margin-top: 20px;
    padding-top:100px;
}
.support-card{
    min-height: 270px;
    border-radius: 10px;

}
.home-quality{
    margin: 0;
    border:2px solid black;
    margin: 10px;
    padding-top: 10px;
    min-height:170px ;
    background-color:rgba(243, 233, 177, 0.623) ;
    border-radius: 10px;
}
.fontS{
    font-size: 50px;
    border:3px solid white;
    border-radius: 50%;
    padding: 10px;
}